<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.safenav">

    <!-- CAMERA -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- MICROPHONE -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- HIGH SAMPLING RATE for IMU sensors -->
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS"/>

    <!-- STORAGE (Android 10 and below) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <!-- STORAGE (Android 11+) -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Declare that your app uses IMU sensors -->
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false"/>
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="false"/>

    <!-- Declare camera feature -->
    <uses-feature android:name="android.hardware.camera.any" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SafeNAV"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SafeNAV"
        tools:ignore="Typos">

        <!-- Home screen -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Camera + Recorder Activity -->
        <activity
            android:name=".CameraActivity"
            android:exported="false" />

    </application>
</manifest>